/* personnalisations */:root{ 
    --header-bgcolor: #ffffff; 
    --header-text: #ea0e7c; 
    --header-hover: #23527c; 
    --menuG-bgcolor: #f6fa2f; 
    --menuG-color: #fa0c0c; 
    --cal-titrecolor: #ec2323; 
    --cal-titrebgcolor: #ffffff; 
    --cal-joursbgcolor: #ffffff; 
    --cal-jourscolor: #29c40d; 
    --cal-sembgcolor: #ffffff; 
    --cal-semcolor: #33b752; 
    --cal-semhovercolor: #23527c; 
    --cal-weekbgcolor: #ffffff; 
    --cal-weekcolor: #337ab7; 
    --cal-cellbgcolor: #ffffff; 
    --cal-cellcolor: #337ab7; 
    --cal-cellhoverbgcolor: #ffffff; 
    --cal-cellhovercolor: #23527c; 
    --cal-current-day-bg: #ffffff; 
    --cal-current-day-col: #000000; 
    --pl2-titrebgcolor: #ffffff; 
    --pl2-titrecolor: #a02323; 
    --pl2-entetebgcolor: #ffffff; 
    --pl2-entetecolor: #2ecc20; 
    --pl2-cellbgcolor: #ffffff; 
    --pl2-cellcolor: #337ab7; 
    --icons-color: #333333; 
    --btn-primary-color: #ffffff; 
    --btn-primary-bgcolor: #d42e54; 
    --btn-primary-bordcolor: #7bff19; 
    --active-btn-primary-color: #d51313; 
    --active-btn-primary-bgcolor: #1dd315; 
    --active-btn-primary-bordcolor: #217ed0; 
    --focus-btn-primary-bgcolor: #4cfc20; 
    --focus-btn-primary-bordcolor: #204d74; 
    --focus-btn-primary-color: #ffffff;}
