/* personnalisations */:root{ 
    --header-bgcolor: #FFFFFF; 
    --header-text: #337AB7; 
    --header-hover: #23527C; 
    --menuG-bgcolor: #FFFFFF; 
    --menuG-color: #333333; 
    --cal-titrecolor: #333333; 
    --cal-titrebgcolor: #FFFFFF; 
    --cal-joursbgcolor: #FFFFFF; 
    --cal-jourscolor: #333333; 
    --cal-sembgcolor: #FFFFFF; 
    --cal-semcolor: #337AB7; 
    --cal-semhovercolor: #23527C; 
    --cal-weekbgcolor: #FFFFFF; 
    --cal-weekcolor: #337AB7; 
    --cal-cellbgcolor: #FFFFFF; 
    --cal-cellcolor: #337AB7; 
    --cal-cellhoverbgcolor: #FFFFFF; 
    --cal-cellhovercolor: #23527C; 
    --cal-current-day-bg: #FFFFFF; 
    --cal-current-day-col: #000000; 
    --pl2-titrebgcolor: #FFFFFF; 
    --pl2-titrecolor: #777777; 
    --pl2-entetebgcolor: #FFFFFF; 
    --pl2-entetecolor: #337AB7; 
    --pl2-cellbgcolor: #FFFFFF; 
    --pl2-cellcolor: #337AB7; 
    --icons-color: #333333; 
    --btn-primary-color: #FFFFFF; 
    --btn-primary-bgcolor: #337AB7; 
    --btn-primary-bordcolor: #2E6DA4; 
    --active-btn-primary-color: #FFFFFF; 
    --active-btn-primary-bgcolor: #2C6CA3; 
    --active-btn-primary-bordcolor: #2E6DA4; 
    --focus-btn-primary-bgcolor: #286090; 
    --focus-btn-primary-bordcolor: #204D74; 
    --focus-btn-primary-color: #FFFFFF; 
    --ssmenuadm-actif-bg: #F5F5F5; 
    --ssmenuadm-actif-color: #FF0000;}
