/* personnalisations */:root{ 
    --header-bgcolor: #990000; 
    --header-text: #337AB7; 
    --header-hover: #23527C; 
    --menuG-bgcolor: #FFF; 
    --menuG-color: #333; 
    --lien-classique: #337ab7; 
    --cal-titrecolor: #333; 
    --cal-titrebgcolor: #FFF; 
    --cal-joursbgcolor: #FFF; 
    --cal-jourscolor: #333; 
    --cal-sembgcolor: #FFF; 
    --cal-semcolor: #337AB7; 
    --cal-semhovercolor: #23527C; 
    --cal-weekbgcolor: #FFF; 
    --cal-weekcolor: #337AB7; 
    --cal-cellbgcolor: #FFF; 
    --cal-cellcolor: #337AB7; 
    --cal-cellhoverbgcolor: #FFF; 
    --cal-cellhovercolor: #23527C; 
    --cal-current-day-bg: #FFF; 
    --cal-current-day-col: #000; 
    --pl2-titrebgcolor: #FFF; 
    --pl2-titrecolor: #777; 
    --pl2-entetebgcolor: #FFF; 
    --pl2-entetecolor: #337AB7; 
    --pl2-cellbgcolor: #FFF; 
    --pl2-cellcolor: #337AB7; 
    --icons-color: #333; 
    --btn-primary-color: #FFF; 
    --btn-primary-bgcolor: #337AB7; 
    --btn-primary-bordcolor: #2E6DA4; 
    --active-btn-primary-color: #FFF; 
    --active-btn-primary-bgcolor: #2C6CA3; 
    --active-btn-primary-bordcolor: #2E6DA4; 
    --focus-btn-primary-bgcolor: #286090; 
    --focus-btn-primary-bordcolor: #204D74; 
    --focus-btn-primary-color: #FFF;}
