.content{width:100%;margin:auto 0!important}
.preview-pane{border:3px solid #ccc}
body{background-color:#fff}
#img{height:5cm;}
#adressedestinataire{left:12cm;top:0cm;width:8cm;}
#signature{float:right}