/* fichier de style reprenant les paramètres des types de réservation */
td.typeA{background:#1abc9c;color:#000000;}
td.typeA a.poplight{color:#000000;}
             
td.typeB{background:#C03000;color:#FFFFFF;}
td.typeB a.poplight{color:#FFFFFF;}
             
td.typeC{background:#4BB5C1;color:#000000;}
td.typeC a.poplight{color:#000000;}
             