/* fichier de style reprenant les paramètres des types de réservation */ 
td.typeA{background:#AAAAAA;color:#FF1532;}
td.typeA a.lienCellule{color:#FF1532;}
 
td.typeB{background:#FF4000;color:#242424;}
td.typeB a.lienCellule{color:#242424;}
 
td.typeC{background:#FF9999;color:#000000;}
td.typeC a.lienCellule{color:#000000;}
