<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Grr</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
</head>

<body>
<ul class="surnavigation">
	<li><a href="#">Aide</a></li>
    <li><a href="#">Recherche</a></li>
    <li><a href="#">Rapports</a></li>
    <li><a href="#">Stats</a></li>
    <li><a href="#">Support technique</a></li>
</ul>
    
<div class="header">
	<h1><img src="header.jpg"/></h1>
</div>

<div class="filtre-global">
	<div class="filtre">
		<div class="espace-perso">
			<p>Bonjour Nicolas !</p>
		</div>
        
        <div class="calendrier">
        	<img src="calendrier.png"/>
		</div>
        
        <div class="choix-site">
        	<img src="selection-site.png"/>
		</div>
        
	</div>
</div>

<div class="tableau">

<div class="date">
	<h2>Mercredi 22 avril</h2>
    <span>Domaine sélectionné</span>
</div>

    <table cellpadding="0" cellspacing="0">
       <thead>
           <tr>
               <th>&nbsp;</th>
               <th class="clair">8:00 8:30</th>
               <th class="clair">8:30 9:00</th>
               <th class="sombre">9:00 9:30</th>
               <th class="sombre">9:30 10:00</th>
            </tr>
       </thead>
    
       <tfoot>
           <tr>
               <th>&nbsp;</th>
               <th class="clair">8:00 8:30</th>
               <th class="clair">8:30 9:00</th>
               <th class="sombre">9:00 9:30</th>
               <th class="sombre">9:30 10:00</th>
           </tr>
       </tfoot>
    
       <tbody>
           <tr>
               <td>Salle 1</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
           </tr>
           
                  <tr>
               <td>Salle 2</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
           </tr>
           
                  <tr>
               <td>Salle 3</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
               <td>&nbsp;</td>
           </tr>
       </tbody>
    </table>
</div>

</body>
</html>
