{% extends 'layoutsimple.twig' %}

{% import 'messagesysteme.twig' as msgSyst %}
{% import 'champs.twig' as form %}

{% block css %}
{% endblock %}

{% block content %}
		<div class="center">

            <h1>{{d.msgLogout}}</h1>
            <br>
            <a href="app.php?p=login">{{trad.msg_logout3}}</a>

		</div>
{% endblock %}

{% block javascript %}
{% endblock %}