{% extends 'layout.twig' %}

{% import 'messagesysteme.twig' as msgSyst %}
{% import 'champs.twig' as form %}

{% block css %}
{% endblock %}

{% block content %}

<div id="page-resa" class="col-lg-12 col-md-12 col-xs-12">
	<div class="container">
		{{d.CtnPage|raw}}
	</div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}