{% extends d.modePage == 1 
    ? 'layout.twig' 
    : 'layoutsimple.twig' %}

{% import 'messagesysteme.twig' as msgSyst %}
{% import 'champs.twig' as form %}

{% block css %}
{% endblock %}

{% block content %}

<div id="page-resa" class="col col-lg-12 col-md-12 col-xs-12">
	<div class="container">
		<h1>{{d.TitrePage|raw}}</h1>
		{{d.CtnPage|raw}}

		{% if d.nomPage == 'popup' %}
			<br><br><a href="app.php?p=page&amp;pageaffiche=popup&amp;validePopup=1" class="btn btn-success" />Valider et ne plus me rappeler</a>
			<br><br>
		{% endif %}
	</div>
</div>

{% endblock %}

{% block javascript %}
{% endblock %}