/* personnalisations */

/* modifications bootstrap */
a{color:#AAA;text-decoration:none}
.text-primary{color:#FE1B00}
.bg-primary{color:#fff;background-color:#FE1B00}
.btn-primary{color:#fff;background-color:#FE1B00;border-color:#FE1B00}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active{background-color:#FE1B00;border-color:#FE1B00}
.btn-primary .badge{color:#FE1B00;background-color:#fff}
.btn-link{color:#FE1B00;font-weight:normal;border-radius:0}
.panel-primary>.panel-heading .badge{color:#FE1B00;background-color:#fff}
.panel-primary>.panel-footer+.panel-collapse>.panel-body{border-bottom-color:#FE1B00}
caption{text-align: center}

/* personnalisation sur le modèle standard */
.table-bordered caption{background:#FE1B00;padding: 0 0 0 0;}
.glyphicon-plus{color:#FE1B00}
#menuGauche{background-color:#FE1B00;float:left;height:100%;min-width:200px;width:100%;padding-bottom:10px}
#menuGauche2{background-color:#FE1B00;color:black;}
#menuGaucheMonthAll2{display:none;background-color:#FE1B00;float:left;height:100%;min-width:200px;width:300px;padding-bottom:10px}
.calendar caption{background-color:#FE1B00}
.calendar a{color:#FFF}
.cellcalendar{background:#FE1B00;vertical-align:middle;text-align:center;height:30px;width:40px;line-height:30px}
td.calendarHeader2{text-align:center;border:0;font-size:10pt;width:200px;background-color:#FE1B00;color:#FFF;font-weight:bold;font-size:18px;}
#toppanel{position:relative;top:0;width:100%;z-index:999;text-align:center;border-bottom:1px solid #FE1B00}
#planning{position:relative;background-color:#FE1B00;height:100%;width:auto}
#print_planning{position:relative;background-color:#FE1B00;height:100%;width:auto}
.titre_planning{position:relative;background-color:#FE1B00;height:100%;color:#000;text-align:center;font-size:1.2em}
.contenu_planning{position:relative;background-color:#FE1B00;height:100%;max-width:100%}
th{color:#eee;font-size:10pt;font-family:verdana,sans-serif;background-color:#FE1B00;vertical-align:top;text-align:center;}
table.legende caption{color:black;}

@media only screen and (max-width:800px) { 
	.accueil {
		display:none;
		}
	#element{
		left:0px;
		display:none;
	}
	.popup_block{
		width:100%!important;
		margin-left:0px!important;
		left:0px!important;
		margin-top:0px!important;
		top:0px!important;
		}
	#popup_name{
	left:0px;
	FLOAT:LEFT;
	}
}
