{% extends 'layout.twig' %}

{% block css %}
{% endblock %}

{% import 'messagesysteme.twig' as msgSyst %}

{% block content %}
	<div class="row">

		<div class="col-md-12">

			<div class="box">
				<div class="box-body no-padding">
					<h4>Choisissez le type d'action à réaliser :</h4>
					<a href="?p=admin_reservation_bloc" class="btn btn-primary btn-block">{{ trad.admin_calendar_title }}</a>
					<br><br>
					<a href="?p=admin_delete_entry_after" class="btn btn-primary btn-block">Supprimer toutes les réservations après une date donnée</a>
					<a href="?p=admin_delete_entry_before" class="btn btn-primary btn-block">Supprimer toutes les réservations avant une date donnée</a>
					<br><br>
					<a href="?p=admin_import_entries_csv_udt" class="btn btn-primary btn-block">Importer un fichier d'occupation de salles au format CSV provenant de UnDeuxTemps</a>
					<a href="?p=admin_import_entries_csv_direct" class="btn btn-primary btn-block">Importer un fichier de réservation au format CSV</a>
				</div>
			</div>
		</div>
	</div>	

{% endblock %}

{% block javascript %}
{% endblock %}