{% extends 'layout.twig' %}

{% import 'messagesysteme.twig' as msgSyst %}
{% import 'champs.twig' as form %}

{% block css %}
	<link rel="stylesheet" href="../jslib/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" href="../jslib/toastr/toastr.min.css">
	<style>
		/* Force dropdowns to display properly */
		.note-dropdown-menu {
			display: none;
			position: absolute;
			top: 100%;
			left: 0;
			z-index: 1000;
			float: left;
			min-width: 160px;
			padding: 5px 0;
			margin: 2px 0 0;
			font-size: 14px;
			text-align: left;
			list-style: none;
			background-color: #fff;
			background-clip: padding-box;
			border: 1px solid #ccc;
			border-radius: 4px;
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		}
		.note-dropdown-menu.show {
			display: block;
		}
		.note-dropdown-menu > li > a {
			display: block;
			padding: 3px 20px;
			clear: both;
			font-weight: normal;
			line-height: 1.42857143;
			color: #333;
			white-space: nowrap;
			cursor: pointer;
		}
		.note-dropdown-menu > li > a:hover {
			color: #262626;
			text-decoration: none;
			background-color: #f5f5f5;
		}
		.dropdown-divider {
			height: 0;
			margin: 9px 0;
			overflow: hidden;
			border-top: 1px solid #e5e5e5;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="row">
        <div class="col col-12 col-sm-12">
            <div class="card card-primary card-outline card-tabs">
              <div class="card-header p-0 pt-1 border-bottom-0">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active" id="custom-tabs-three-home-tab" href="?p=admin_config">{{ trad.admin_config1 }}</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-settings-tab" href="?p=admin_config3">{{ trad.admin_config3 }}</a>
                  </li>
				  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-settings-tab" href="?p=admin_config4">{{ trad.admin_config4 }}</a>
                  </li>
				  <li class="nav-item">
                    <a class="nav-link" id="custom-tabs-three-settings-tab" href="?p=admin_config5" >{{ trad.admin_config5 }}</a>
                  </li>
                </ul>
              </div>


			</div><!-- /.card-primary -->
		</div><!-- /.col -->
	</div><!-- /.row -->

{% endblock %}

{% block javascript %}

{% endblock %}