{% extends 'layout.twig' %}

{% import 'messagesysteme.twig' as msgSyst %}

{% block content %}
	<table>
		<tr>
			<td>
				<img src="../img_grr/totem_grr.png" alt="Logo GRR"/>
			</td>
			<td align="center" >
				<p style="font-size:40pt">
					<i>GRR !</i>
				</p>
			</td>
		</tr>
	</table>
{% endblock %}