/* ------------------------------------ *
 * admin_grr.css
 * Feuille CSS pour l'administration
 * Dernière modification : $Date: 2018-08-27 12:45$
 * @author    JeromeB & Laurent Delineau & Yan Naessens
 * @copyright Copyright 2003-2018 Team DEVOME - JeromeB
 * @link      http://www.gnu.org/licenses/licenses.html
 *
 * This file is part of GRR.
 *
 * GRR is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 */

 /* onglets de navigation pour la page admin_config_calend[x].php */
 div.onglet {
 	font-family: Arial, Sans, sans-serif;
 	font-weight: bold;
 	border: 1px solid #888888;
 	margin-right: 3px;
 	padding: 5px;
 	background-color: white;
 }
 div.onglet a {
 	color: black;
 }

 div.onglet_on {
 	font-family: Arial, Sans, sans-serif;
 	font-weight: bold;
 	border: 1px solid #111111;
 	margin-right: 3px;
 	padding: 5px;
 	background-color: #888888;
 }
 div.onglet_on a, div.onglet_on a:hover {
 	color: white;
 	text-decoration: none;
 }

 div.onglet_on a:hover {
 	color: white;
 	text-decoration:underline;
 }

 div.onglet_off {
 	font-family: Arial, Sans, sans-serif;
 	font-weight: bold;
 	border: 1px solid #888888;
 	margin-right: 3px;
 	padding: 5px;
 	background-color: #888888;
 	color: white;
 }
 
 .table_adm {
 	border:0;
 	border-spacing : 0;
 	border-collapse : collapse;
 }
/*
Formatage des administrateurs
*/
.style_admin {
	color: red;
}
/*
Formatage des gestionnaire_utilisateurs
*/
.style_gestionnaire_utilisateur {
	color: red;
}

/*
Formatage des visiteurs
*/
.style_visiteur {
	color: green;
}
/*
Formatage des utilisateurs
*/
.style_utilisateur {
	color: blue;
}
/*

*/
.style_privilege {
	color: red;
	font-weight: bold;
}
.fond1 {
	background-color:#E9E9E4;
}
.fond2 {
	background-color:#AAAAAA;
}
/* mise en forme des textes "jours cycles" dans admin_config_calend3.php */
.jour-cycle {
	font-size: 1.1em;
	color:blue;
}
/* mise en forme des pages administration sans colonne à gauche */
.page_sans_col_gauche {
	margin-left:10%;
	margin-right:10%;
}
/* menu de navigation pour la page admin_users.php */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gray;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: silver;color: black;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
